 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
        
body {
    
    padding: 0;
    min-height: 100vh;
    position: relative;
    color: white;
}

        
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  justify-content: center;
}

.titre {
    color: #000000;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    padding: 30px 10px;
}

h1.titre {
    font-size: 40px;
}

h2.titre {
    font-size: 25px;
}